@charset "UTF-8";
body {
  margin: 0;
  overflow-x: hidden;
}

body #workingspace {
  position: fixed;
  inset: 0;
  background-color: #003d78;
  width: 100%;
  height: 100%;
}

body #gamma {
  position: absolute;
  inset: 0;
  background-color: #808080;
  width: 100%;
  height: 100%;
  mix-blend-mode: overlay;
  z-index: 100;
  pointer-events: none;
}

body #blitz {
  background-color: #000000;
  margin: auto;
  position: absolute;
  inset: 0 35% 0 0;
  image-rendering: -o-pixelated;
  image-rendering: pixelated;
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
}
body #blitzBack {
  display: none;
}

body #blitz.full {
  bottom: auto;
}

body #blitz.full + .debug {
  display: none;
}

body #blitzInputOut,
body #blitzFolder {
  color: #fff;
  position: absolute;
  top: 0;
  border: 0;
  margin: 0;
  z-index: 1;
}

body #blitzInputOut {
  overflow: auto;
  width: 50%;
  height: calc(100% - 20px);
  right: 0;
  background: #000;
  padding: 10px;
}
body:not(.started) #blitz {
  background-color: #7b94ad;
  background-image: url(/static/images/rocket.gif);
  background-repeat: no-repeat;
  background-size: 28px;
  background-position: center center;
  width: 80px;
  height: 80px;
  border-radius: 10%;
  border: solid 3px #000000;
  cursor: pointer;
  transition: transform 0.3s;
}
body:not(.started) #blitz:hover {
  transform: scale(120%);
}
body.started #blitz,
body.started #blitzBack {
  inset: 0 0 0 0;
  width: auto;
  height: auto;
  z-index: 98;
}
body.started #blitzInputOut {
  /* right: calc(-50% - 20px); */
  display: none;
}
body.started #blitzFolder {
  /* left: -15%; */
  display: none;
}

body #blitzInput,
body #blitzInputRich {
  font-family: Courier, monospace;
  font-size: 12px;
  outline: none;
  position: absolute;
  inset: 10px;
  border: 0;
  padding: 0;
  margin: 0;
}

body #blitzInput {
  caret-color: #fff;
  color: transparent !important;
  background: transparent !important;
  z-index: 0;
  display: inline-block;
}

body #blitzInput * {
  color: transparent !important;
  background: transparent !important;
}

body #blitzInputRich {
  color: #fff;
  pointer-events: none;
  background: transparent;
  z-index: 1;
}

body #blitzFolder {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  background: #003566;
  overflow-y: auto;
  width: 15%;
  height: 100%;
  left: 0;
}

body #blitzFolder .reload {
  position: absolute;
  display: inline-block;
  color: #fff;
  font-size: 24px;
  width: 35px;
  height: 35px;
  top: 5px;
  right: 5px;
  cursor: pointer;
  text-decoration: none;
  z-index: 1;
  text-align: center;
}

body #blitzFolder .reload:hover {
  color: #ff8;
  background-color: #0088ee;
  border-radius: 50%;
}

body #blitzFolder ul {
  list-style: none;
  padding: 10px;
  margin: 0;
}

body #blitzFolder ul li {
  position: relative;
}

body #blitzFolder ul li.heading {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 5px;
  width: calc(100% - 30px);
}

body #blitzFolder ul li.heading > * {
  color: #fff;
  height: 20px;
  display: inline-block;
  padding: 0;
  padding: 4px 10px 0;
  margin: 0;
  border-radius: 12px;
}

body #blitzFolder ul li > a {
  display: block;
  color: #ff8;
  text-decoration: none;
  padding: 2px 5px;
}

body #blitzFolder ul li > a.file {
  padding-left: 20px;
}

body #blitzFolder ul li > a:hover {
  color: #ff8;
  background-color: #0088ee;
}

body #blitzFolder ul li > a::before {
  position: absolute;
  color: #fff;
  font-size: 20px;
  display: inline-block;
  width: 15px;
  height: 18px;
  bottom: 6px;
  left: 2px;
  text-align: center;
}

body #blitzFolder ul li > a.file::before {
  content: "🗋";
}

body #blitzPointer {
  position: absolute;
  width: 24px;
  height: 24px;
  margin-left: -5px;
  margin-top: -2px;
  display: block;
}

body #blitzPointer.hide {
  display: none;
}

body #blitzPointer.hidePointer {
  display: none;
}

body .debug {
  font-family: "Inconsolata", "Monaco", "Consolas", "Andale Mono", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
  font-size: 13px;
  display: block;
  line-height: 20px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #003d78;
  border-top: solid 1px #003566;
  white-space: pre;
  word-wrap: break-word;
  overflow: auto;
  padding: 10px;
  margin: 0;
  height: 10%;
  overflow-y: hidden;
  z-index: 99;
}

body .debug:empty {
  display: none;
}

body .debug > span {
  position: relative;
  top: 0;
  -webkit-transition: top 0.5s ease-in-out;
  transition: top 0.5s ease-in-out;
}

body .debug > span:empty {
  top: 100px;
}
/*# sourceMappingURL=blitz3d.css.map */
