@charset "UTF-8";
body {
  margin: 0;
  background-color: #003d78;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

body #blitz {
  background: black;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: calc(10% + 20px);
  left: 0;
  right: 0;
  image-rendering: -o-pixelated;
  image-rendering: pixelated;
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
}

body #blitz.full {
  bottom: auto;
}

body #blitz.full + .debug {
  display: none;
}

body #blitzText,
body #blitzFolder {
  color: #fff;
  position: absolute;
  height: 100%;
  top: 0;
  border: 0;
}

body #blitzText {
  font-family: 'Inconsolata', 'Monaco', 'Consolas', 'Andale Mono', 'Bitstream Vera Sans Mono', 'Courier New', Courier, monospace;
  font-size: 12px;
  background: #000;
  width: 30%;
  right: 0;
  padding: 10px;
}

body #blitzText ~ .debug {
  right: calc(30% + 20px);
}

body #blitzFolder {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  background: #003566;
  overflow-y: auto;
  width: 15%;
  left: 0;
}

body #blitzFolder .reload {
  position: absolute;
  display: inline-block;
  color: #fff;
  font-size: 24px;
  width: 35px;
  height: 35px;
  top: 5px;
  right: 5px;
  cursor: pointer;
  text-decoration: none;
  z-index: 1;
  text-align: center;
}

body #blitzFolder .reload:hover {
  color: #ff8;
  background-color: #0088ee;
  border-radius: 50%;
}

body #blitzFolder ul {
  list-style: none;
  padding: 10px;
  margin: 0;
}

body #blitzFolder ul li {
  position: relative;
}

body #blitzFolder ul li.heading {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 5px;
  width: calc(100% - 30px);
}

body #blitzFolder ul li.heading > * {
  color: #fff;
  height: 20px;
  display: inline-block;
  padding: 0;
  padding: 4px 10px 0;
  margin: 0;
  border-radius: 12px;
}

body #blitzFolder ul li > a {
  display: block;
  color: #ff8;
  text-decoration: none;
  padding: 2px 5px;
}

body #blitzFolder ul li > a.file {
  padding-left: 20px;
}

body #blitzFolder ul li > a:hover {
  color: #ff8;
  background-color: #0088ee;
}

body #blitzFolder ul li > a::before {
  position: absolute;
  color: #fff;
  font-size: 20px;
  display: inline-block;
  width: 15px;
  height: 18px;
  bottom: 6px;
  left: 2px;
  text-align: center;
}

body #blitzFolder ul li > a.file::before {
  content: "🗋";
}

body #blitzFolder ~ .debug {
  left: calc(15% + 20px);
}

body #blitzPointer {
  position: absolute;
  width: 24px;
  height: 24px;
  margin-left: -5px;
  margin-top: -2px;
  display: block;
}

body #blitzPointer.hide {
  display: none;
}

body #blitzPointer.hidePointer {
  display: none;
}

body .debug {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #003d78;
  border-top: solid 1px #003566;
  white-space: pre;
  word-wrap: break-word;
  overflow: auto;
  padding: 10px 15px;
  margin: 0;
  overflow-x: auto;
  height: 10%;
}

body .debug code {
  font-family: 'Inconsolata', 'Monaco', 'Consolas', 'Andale Mono', 'Bitstream Vera Sans Mono', 'Courier New', Courier, monospace;
  display: block;
  font-size: 13px;
  line-height: 20px;
  color: #ddd;
  overflow: hidden;
  min-height: 100%;
}

body .debug code span {
  position: relative;
  top: 0;
  -webkit-transition: top 0.5s ease-in-out;
  transition: top 0.5s ease-in-out;
}

body .debug code span:empty {
  top: 100px;
}
/*# sourceMappingURL=blitz3d.css.map */