<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta
      name="description"
      content="Welcome to Blitz Basic - probably the most powerful BASIC language in the Universe. You are in safe hands as Blitz was written by gamers for gamers who have an impressive track record in this field. Within the Blitz environment you have the power of your PC at your fingertips making video game creation fun and easy - The only limit is your imagination and creative energy."
    />
    <style id="blitzFonts"></style>
    <link rel="stylesheet" type="text/css" href="/static/css/blitz3d.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/highlight.css" />
    <script src="/static/js/howler.core.js"></script>
    <script src="/static/js/howler.spatial.js"></script>
    <script src="/static/js/decode.js"></script>
    <title>Blitz3D</title>
  </head>

  <body <%if(file) {%>
    class="started"<%}%>>
    <div id="blitzFolder"><%- folder%></div>
    <img src="/static/images/mouse.png" id="blitzPointer" width="24" height="24" class="hide" />
    <div id="workingspace" onclick="window.location.reload()"></div>
    <canvas id="blitz" <%if(!file) {%>onclick="getBB(document.querySelector('#blitzInput').innerText)"<%}%>></canvas>
    <canvas id="blitzBack"></canvas>
    <div id="gamma"></div>
    <pre class="debug"></pre>
    <script src="/static/js/_commands.jsb"></script>
    <%if(!file) {%>
    <div id="blitzInputOut">
      <pre id="blitzInputRich" spellcheck="false"></pre>
      <pre>
        <code id="blitzInput"  spellcheck="false" contenteditable="true" oninput="getHighlight(this.innerText)"></code>
      </pre>
    </div>
    <script>
      let started = false;
      const normalize = (bb) => bb.replace(/  |\t/gim, "  ");
      const $bbCode = document.querySelector("#blitzInput");
      const $bbCodeRich = document.querySelector("#blitzInputRich");
      const bbStored = localStorage.getItem("blitz3d-source") || "";
      $bbCode.innerText = normalize(bbStored);
      let onInputTimer = 0;

      const head = document.getElementsByTagName("head")[0];
      const scriptTag = document.createElement("script");
      scriptTag.id = "output";
      scriptTag.type = "text/javascript";
      head.appendChild(scriptTag);

      const getHighlight = (bb) => {
        $bbCodeRich.innerHTML = normalize(bb);
        localStorage.setItem("blitz3d-source", bb);
        if (onInputTimer > 0) {
          clearTimeout(onInputTimer);
          onInputTimer = 0;
        }
        onInputTimer = setTimeout(() => {
          onInputTimer = 0;
          fetch("/highlight", {
            method: "POST",
            body: bb,
          })
            .then((data) => data.text())
            .then((bbRich) => ($bbCodeRich.innerHTML = normalize(bbRich)));
        }, 10);
      };

      const getBB = (bb) => {
        if (!started) {
          document.body.classList.add("started");
          started = true;
          // $bbCodeRich.innerHTML = normalize(bb);

          localStorage.setItem("blitz3d-source", bb);
          if (onInputTimer > 0) {
            clearTimeout(onInputTimer);
            onInputTimer = 0;
          }
          onInputTimer = setTimeout(() => {
            onInputTimer = 0;
            bb = localStorage.getItem("blitz3d-source");

            fetch("/_output.bb.js", {
              method: "POST",
              body: bb,
            })
              .then((data) => data.text())
              .then((outputString) => {
                const output = outputString;
                head.removeChild(scriptTag);
                scriptTag.innerHTML = output;
                head.appendChild(scriptTag);
                console.log(output);
              });
          }, 300);
        }
      };
      getHighlight(bbStored);

      // TODO: Make separate JS for these
      $bbCode.addEventListener("paste", function (e) {
        e.preventDefault();
        var text = (e.originalEvent || e).clipboardData.getData("text/plain");
        document.execCommand("insertHTML", false, normalize(text));
      });
      $bbCode.addEventListener("keydown", function (event) {
        if (event.key === "Enter") {
          event.preventDefault();
          document.execCommand("insertLineBreak");
        } else if (event.key === "Tab") {
          event.preventDefault();
          document.execCommand("insertHTML", false, "  ");
        }
      });
    </script>
    <%} else {%>
    <script id="output" src="/<%= file %>.js"></script>
    <%}%>
  </body>
</html>
